<!DOCTYPE html>
<html>
<head>
	<title>Adjunct Faculty</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styl.css">
</head>
<body>
 <div class="head">
   <h1>Our Adjunct Faculty Members</h1>
 </div>
 
 <div class="flip-main">
   <div class="container">
      <div class="row">
         <!-- flip card start -->
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/sayedsir.png" alt="flip-card" height="410px">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. Abu Sayed Md. Mostafizur Rahman</h3>
                      <p>Professor<br>
                        Mobile:+8801711306453<br>
                        Email:asmmr@juniv.edu
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/yousufsir.png" alt="flip-card" height="410px">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. Mohammad Abu Yousuf</h3>
                      <p>Professor<br>
                        Mobile:+8801711306453<br>
                        Email:yousuf@juniv.edu.bd
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/sksir.png" alt="flip-card" height="410px">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3> Dr. M. Shamim Kaiser</h3>
                      <p>Professor<br>
                        Mobile:+8801711306453<br>
                        Email:mskaiser@juniv.edu
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/fazlulsir.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. Fazlul Hasan Siddiqui</h3>
                      <p>Professor<br>
                        Mobile:+8801711306453<br>
                        Email:fazlul.siddiqui@duet.ac.bd
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/kashemsir.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. Mohammad Abul Kashem</h3>
                      <p>Professor<br>
                        Mobile:+8801711306453<br>
                        Email:drkashemll@yahoo.com
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/rabbanisir.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3> Dr. Mohammad Golam Rabbani </h3>
                      <p>Professor<br>
                        Mobile:+8801711306453<br>
                        Email:rabbani@juniv.edu
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/hksir.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3> Dr. Muhammad Humayun Kabir</h3>
                      <p>Associate Professor<br>
                        Mobile:+8801711306453<br>
                        Email:kabirju@gmail.com
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/masir.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3> Dr. Md. Musfique Anwar</h3>
                      <p>Associate Professor<br>
                        Mobile:+8801711306453<br>
                        Email:manwar@juniv.edu
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/sazzadsir.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. Md. Sazzadur Rahman</h3>
                      <p>Associate Professor<br>
                        Mobile:+8801711306453<br>
                        Email:sazzad@juniv.edu
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/akazadsir.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. Abu Sayed Md. Mostafizur Rahman</h3>
                      <p>Associate Professor<br>
                        Mobile:+8801711306453<br>
                        Email:azad@du.ac.bd
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/rmsir.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. Abu Sayed Md. Mostafizur Rahman</h3>
                      <p>Assistant Professor<br>
                        Mobile:+8801711306453<br>
                        Email:rakhu345@yahoo.com 
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/sohelsir.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. Abu Sayed Md. Mostafizur Rahman</h3>
                      <p>Assistant Professor<br>
                        Mobile:+8801711306453<br>
                        Email:soheldu122@gmail.com
                     </p>
                   </div>
                </div>
            </div>
         </div>
         
         <!-- flip card end -->
         <!-- flip card start -->
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/bannasir.jpg" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Md. Hasan Al Banna</h3>
                      <p>Lecturer<br>
                        Mobile: +8801769021822<br>
                        Email: hasan.banna@bup.edu.bd
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <!-- flip card end -->
         <!-- flip card start -->
         
         
      </div>
      
   </div>
 </div>


</body>
</html>



