<!DOCTYPE html>
<html>
<head>
	<title>In house Faculty</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styl.css">
</head>
<body>
 <div class="flip-main">
   <div class="container">
      <div class="row">
         <!-- flip card start -->
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/tahersir.jpg" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. Kazi Abu Taher</h3>
                      <p>Professor & Chairman<br>
                        Mobile:+8801711306453<br>
                        Email:kataher@bup.edu.bd
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <!-- flip card end -->
         <!-- flip card start -->
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/nasirsir.png" alt="flip-card" height="410px">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. Mohammed Nasir Uddin</h3>
                      <p>Associate Professor<br>
                        Mobile:+8801721051937<br>
                        Email:nasiruddin@bup.edu.bd
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/selimsir.jpg" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Dr. S. M. Salim Reza</h3>
                      <p>Assistant Professor<br>
                        Mobile:+8801769021808<br>
                        Email:salim.reza@bup.edu.bd
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/maynulsir.jpg" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Md.Maynul Islam</h3>
                      <p> Assistant Professor<br>
                        Mobile: +8801769021819<br>
                        Email:maynul@bup.edu.bd
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/saifulsir.jpg" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3><b>Saiful Islam<b></h3>
                      <p>Lecturer<br>
                        Mobile: +8801769028705<br>
                        Email:saifulislam@bup.edu.bd
                     </p>
                   </div>
                </div>
            </div>
         </div><div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/afrinamam.jpg" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Afrina Khatun</h3>
                      <p> Lecturer<br>
                        Mobile: +8801559080223<br>
                        Email:afrina.khatun@bup.edu.bd
                     </p>
                   </div>
                </div>
            </div>
         </div><div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/nahiansir.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Md. Jaber Al Nahian</h3>
                      <p>Lecturer<br>
                        Mobile:+8801769021818<br>
                        Email:jaber.nahian@bup.edu.bd
                      </p>
                   </div>
                </div>
            </div>
         <!-- flip card end -->
      </div>
   </div>
 </div>


</body>
</html>



