<!DOCTYPE html>
<html>
<head>
	<title>Staffs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styl.css">
</head>
<body>
 <div class="head">
   <h1>Staffs </h1>
 </div>
 
 <div class="flip-main">
   <div class="container">
      <div class="row">
         <!-- flip card start -->
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/ad1.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Md. Faizur Rahman</h3>
                      <p>Assistant Director<br>Section Officer<br>
                        Mobile:+8801769021816<br>
                        Email:fayzur.rahman@bup.edu.bd
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <!-- flip card end -->
         <!-- flip card start -->
         <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <img src="images/people/ad2.png" alt="flip-card">
                </div>
                <div class="flip-card-back">
                   <div class="text">
                      <h3>Md. Ehsanul Kabir</h3>
                      <p>Assistant Director<br>Section Officer<br>
                        Mobile:  +8801769021830<br>
                        Email:ehsanul.kabir@bup.edu.bd
                     </p>
                   </div>
                </div>
            </div>
         </div>
         <!-- flip card end -->
         <!-- flip card start -->
         
         
         
         
   </div>
 </div>


</body>
</html>



