* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }



  .header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(10, 18, 49, 0.7), rgba(4, 9, 30, 0.7)),
      url(images/backg.png);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
  }
  nav img {
    width: 150px;
  }
  nav a img{
    float: left;
    margin-left: 0;
    margin-top: 5px;
    width: 90px;
    height: 100px;
  }
  .nav-links {
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 13px;
    position: relative;
  }
  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
  }
  .nav-links ul li::after {
    content: "";
    width: 0%; /* to hide the underline */
    height: 2px;
    background: #dc1313;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after {
    width: 100%;
  }
  .text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text-box h1 {
    font-size: 60px;
    cursor: pointer;
    transition: all 1s linear;
  }
  .text-box h1:hover {
    background: linear-gradient(90deg, #f83c90,#62d0f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
  }
  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
  }
  nav .fa{
    display: none;
  }
.app {
	display: flex;
	min-height: 100vh;
}

.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	background-color: #2e3047;
	cursor: pointer;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
	flex: 1 1 0;
	max-width: 300px;
	padding: 2rem 1rem;
	background-color: #2e3047;
	height: 400px;
}

.sidebar h2 {
	color: #3bba9c;
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	text-align: center;
}

.sidebar .menu {
	margin: 0 -1rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color: #FFF;
	text-decoration: none;
	transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: #3bba9c;
	border-right: 5px solid #3bba9c;
}

.sidebar .menu .menu-item:hover {
	border-right: 5px solid #3bba9c;
}

.content {
	flex: 1 1 0;
	padding: 2rem;
	background-color: linear-gradient(90deg, rgba(38,102,173,1) 0%, rgba(148,224,233,1) 100%);
}

.content h1 {
	color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.content p {
	color: #707793;
}

@media (max-width: 1024px) {
	.sidebar {
		max-width: 200px;
	}
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}
	.content {
		padding-top: 8rem;
	}
	.sidebar {
		position: relative;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
		transition: 0.2s linear;

	}

	.sidebar.is-active {
		left: 0;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body{
	background: #eeeff4;
}



.cards_wrap{
	padding: 10px;
	width: 100%;
	display: block;
	justify-content: space-between;
  flex-flow: row wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 35%;
}

.cards_wrap .card_inner{
	background: linear-gradient(90deg, rgba(255,255,255,1) 38%, rgba(190,187,241,1) 100%);;
	border-radius: 5px;
	padding: 35px 20px;

	width: 100%;
}

.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}

.cards_wrap .card_item .role_name{
	color: #e36686;
	font-weight: 300;
	font-size: 16px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: #b6c0c2;
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
}

@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 50%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}

